/* If you like this, be sure to â�¤ï¸� it. */
:root {
  --blue: #1e90ff;
  --button: #6B46C1
}
.wrapper {
	height: 100vh;
	/* This part is important for centering the content */
	display: flex;
	align-items: center;
	justify-content: center;
	/* End center */
	background: -webkit-linear-gradient(to right, #834d9b, #d04ed6);
	background: linear-gradient(to right, #834d9b, #d04ed6);
}

.wrapper a {
	display: inline-block;
	text-decoration: none;
	padding: 15px;
	background-color: #fff;
	border-radius: 3px;
	text-transform: uppercase;
	color: #585858;
	font-family: 'Roboto', sans-serif;
}

#show2:checked ~ .modal {
	display: flex;
}

.modal {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	align-items: center;
	justify-content: center;
	background: rgba(77, 77, 77, .7);
	transition: all .4s;
	display: none;
	left: 0px;
	top: 0px;
	z-index: 10000;
}

.modal:target {
	visibility: visible;
	opacity: 1;
}

.modal__content {
	border-radius: 4px;
	position: fixed;
	width: 400px;
	max-width: 90%;
	background: #fff;
/* 	padding: 1em 2em; */
	
/* 	padding: 40px 42px; */
	    padding: 26px 34px;
}

.modal__close {
	position: absolute;
	top: 20px;
	right: 30px;
	transition: all 200ms;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	color: #333;
}

/*  login */
.wrapper2 {
	height: 67vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background: -webkit-linear-gradient(to right, #834d9b, #d04ed6);
	background: linear-gradient(to right, #834d9b, #d04ed6);
}

input[type="radio"] {
/* 	display: none; */
}

/* #login:checked ~ .login22 { */
/* 	display: none; */
/* } */

/* #signup:checked ~ .signup33 { */
/* 	display: block; */
	
/* } */

/* #signup:checked ~ .login22 { */
/* 	display: none; */
/* } */

 .login22 {
	display: block;
	    padding: 0px 3px 15px 0px;
}

.signup33{
	display: none;
}
/* SSS */

#signup:checked ~ .signup {
background: #4CAF50;
	color: white;
}

#signup:checked ~ .slide {
background: gainsboro;
	color: black;
}


/* #show2:checked ~ .modal { */
/* 	display: flex; */
/* } */

.login h2 {
	text-align: center;
/* 	padding: 0px 20px 27px 20px; */

    padding-bottom: 10px;

/* 	padding: 0px 20px 15px 20px; */
}

.slide {
	color:  white;
	width: 50%;
/* 	background: deepskyblue; */
	background: var(--button);
/* 	background: #4CAF50;  */
	border: none;
	padding: 15px 0px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	    cursor: pointer;
	    border-bottom-left-radius: 5px;
	     border-top-left-radius: 5px;
}

.signup {
	color:  var(--button);
	width: 50%;
	/*           background-color: #4CAF50; Green */
	/*   border: none; */
	/*   color: white; */
	background: gainsboro;
	padding: 15px 0px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	    cursor: pointer;
	    border-bottom-right-radius: 5px;
	     border-top-right-radius: 5px;
}

.slide-controls {
/* 	justify-content: center; */
	display: flex;
}

.form-group input{
    font-family: Georgia, "Times New Roman", Times, serif;
    margin: 11px 0px;
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 22px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    border-bottom-width: 2px;
    font-size: 17px;
    transition: all 0.3s ease;
}

.form-group{
    height: 45px;
    
    
    width: 100%;
/*     margin-top: 20px; */
/*         margin: 20px 0px; */
          margin: 13px  0px;
}
.form-group2{
	  height: 50px;
}

 .btn-success{
 color:white;
margin-top: 16px;
	
	height: 100%;
	width: 100%;
	outline: none;
	padding-left: 15px;
	border-radius: 5px;
	border: 1px solid lightgrey;
	border-bottom-width: 2px;
	font-size: 17px;
	transition: all 0.3s ease;
    
/*     background-color: deepskyblue; */
    background-color:   var(--button);
  
        font-family: Georgia, "Times New Roman", Times, serif;
 }