<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style copy.css">
</head>
<style>


</style>

<body>
    <div class="menu">
        Test
    </div>
    <div class="w2">
        <div class="side">

            <ul>
                <li>Section </li>
                <li>Section</li>
                <li>Section</li>
                <li>Section</li>
                <li>Section</li>
                <li>Section</li>
                <li>Section</li>
            </ul>
        </div>

        <div class="question">

            <div class="progress-section">
                <span class="progress-title">0 of
                    3 answered</span> <label></label>
                <div class="progress">
                    <div class="progress-bar brand-bg progress-dot six-sec-ease-in-out" role="progressbar"
                        aria-valuenow="0%" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">
                        <span style="color: #0d0d0d">50%</span>
                    </div>
                </div>
            </div>
            <div class="question-number">
                1
            </div>
            <form action="/action_page.php">
                <div class="que">
                    <h4>JOIN operation which uses any of comparison operators is classified as</h4>
                    <div class="question-details">
                        <ul class="options">
                            <label for="one">
                                  <input type="radio" id="one" value="one" name="radioAnswer" class="radio1">
                                <li id="1" class="save-mcq-answer active"><span class="option">A</span><span
                                        class="question-text">

                                        <span>THETA JOIN</span></span>
                                </li>
                            </label>
                            <label for="two">
                                <input type="radio" id="two" value="two" name="radioAnswer" class="radio1">
                                <li id="2" class="save-mcq-answer " for="two"> <span class="option">B</span><span
                                        class="question-text"><span>CHI-JOIN</span></span>
                                </li>
                            </label>
                            <label for="three">
                                <input type="radio" id="three" value="three" name="radioAnswer" class="radio1">
                                <li id="3" class="save-mcq-answer "> <span class="option">C</span><span
                                        class="question-text"><span>PI-JOIN</span></span>
                                </li>
                            </label>

                            <label for="four">
                                <input type="radio" id="four" value="four" name="radioAnswer" class="radio1">
                                <li id="4" class="save-mcq-answer"> <span class="option">D</span><span
                                        class="question-text"><span>SIGMA-JOIN lo</span></span>
                                </li>
                            </label>

                        </ul>
                    </div>
                </div>
            </form>
            <div class="user-actions clearfix">

                <a href="javascript:void(0);" disabled="" class="  multiple_choice btn button1 disabled"
                    data-question_id="112200" data-question_category="multiple_choice" data-token=""
                    data-question_no="0">Previous</a>


                <a href="javascript:void(0);" class="list-full-module  multiple_choice btn button2"
                    data-question_id="112200" data-question_category="multiple_choice"
                    data-token="dHRFRkZoNFo5QmhmRzB3VnhuQmg3NFlqek5KNEQrbDhjSittWnJCZUVBcG1JVFVMZU15NjhPM1Q2cUFJSDZjbg=="
                    data-question_no="2">Next</a>


            </div>
        </div>
    </div>
</body>

</html>