<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<style>


</style>

<body>
    <div class="auth-wrapper">
        <div class="d-none2">
            <div class="d-none">
                <img src="login-v2-dark.svg" alt="">
            </div>
        </div>
        <div class="auth-bg">
            <div class="inner">
                <h1 class="card-title"> Welcome to Vuexy! 👋 </h1>
                <p class="card-text"> Please sign-in to your account and start the adventure </p>

                <form>

                    <div class="form-group">
                        <div class="label2">
                            <label for="login-first-name" class="d-block">First Name</label>
                        </div>
                        <input id="login-first-name" name="login-first-name" type="text" placeholder="First Name"
                            class="form-control">

                    </div>
                    <div class="form-group">
                        <div class="label2">
                            <label for="login-last-name" class="d-block">Last Name</label>
                        </div>
                        <input id="login-email" name="login-last-name" type="text" placeholder="Last Name"
                            class="form-control">

                    </div>
                    <div class="form-group">
                        <div class="label2">
                            <label for="login-email" class="d-block" id="__BVID__50__BV_label_">Email</label>
                        </div>
                        <input id="login-email" name="login-email" type="email" placeholder="john@example.com"
                            class="form-control">

                    </div>

                    <div class="form-group">
                        <div class="label2">
                            <label for="login-password" class="d-block" id="__BVID__50__BV_label_">Password</label>
                        </div>
                        <input id="login-email" name="login-password" type="text" placeholder="Password"
                            class="form-control">

                    </div>
                    <div class="form-group">
                        <div class="label2">
                            <label for="login-re-password" class="d-block" id="__BVID__50__BV_label_">Re
                                Password</label>
                        </div>
                        <input id="login-email" name="login-re-password" type="text" placeholder="Re Password"
                            class="form-control">

                    </div>

                    <div class="btn-block">
                        <button type="submit" class="btn btn-primary btn-block"> Sign in </button>
                    </div>
                </form>

                <div class="form-create">
                    <p class="card-text text-center mt-2"><span>New on our platform? </span>
                        <a href="#">

                            Create an account
                        </a>
                    </p>

                </div>

                <!-- <div class="divider"><div class="divider-text"> or </div></div> -->
                <p class="subtitle fancy"><span>or</span></p>
                <div class="social">
                    <div class="social_icon">
                        <img src="image/icons8-github-48.png" alt="">
                    </div>
                    <div class="social_icon">
                        <img src="image/icons8-facebook-48.png" alt="">
                    </div>
                    <div class="social_icon">
                        <img src="image/icons8-instagram-48.png" alt="">
                    </div>
                    <div class="social_icon">
                        <img src="image/icons8-twitter-48.png" alt="">
                    </div>
                    <div class="social_icon">
                        <img src="image/icons8-gmail-48.png" alt="">
                    </div>

                </div>
            </div>




        </div>
    </div>
    </div>

</body>

</html>